.textnav:hover img {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

.advt:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.card-img-top:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.headline {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.card-img-top{
    height: 320px;
    width: 370px;
    padding: 10px;
}


.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-label {
    font-weight: bold;
}

footer {
    background-color: #1d4874;
    padding: 30px 0;
}

footer h5 {
    color: #faf7f7;
    font-size: 18px;
    margin-bottom: 10px;
}
footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #007bff;
}

.social-media-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media-icons li {
    display: inline-block;
    margin-right: 10
}
.container1{
    position: relative;

}

.rights{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7px;
}